.table{
	padding: $ratio-inv#{em};
	display: flex;
	justify-content: center;
	align-items: center;
}

.hand{
	padding: $ratio#{em};
	background-color: $color_green;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-content: center;
	align-items: stretch;
}

.pile{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-content: center;
	align-items: stretch;
}

.suit_spades,
.suit_clubs{
	&:after,
	&:before{
		background-color: black;
	}

	&:before{
		top: 10px;
		left: 10px;
	}
	&:after{
		bottom: 10px;
		right: 10px;
	}
}

.suit_hearts,
.suit_diamonds{
	&:after,
	&:before{
		background-color: red;
	}

	&:before{
		top: 10px;
		left: 10px;
	}
	&:after{
		bottom: 10px;
		right: 10px;
	}
}

// $card_values : ('ace', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'jack', 'queen', 'king');
$card_values : ('0','1','2','3','4','5','6','7','8','9','10','11','12','13');

@each $value in $card_values{
    .value_#{$value}{
        &:before,
        &:after{
        	content: '#{$value}';
        }
    }
}













