.hand{
	display: block;
	padding: 20px;
	background-color: green;

	li{
		float: left;
	}

	@include clearfix();
}

.card {
	display: block;
	width: 100px;
	height: 162px;
	background-color: #fff;
	margin: 10px;
	position: relative;
	padding: 10px;
	border: 1px solid grey;

	@include border-radius(10px);

	&:after,
	&:before{
		width: 20px;
		height: 32px;
		position: absolute;
		color: #fff;
	}

	span{
		display: block;
		position: absolute;
		top: 50%;
		text-align: center;
		left: 10px;
		right: 10px;
		margin-top: -.5em;
	}
}

.suit_spades,
.suit_clubs{
	&:after,
	&:before{
		background-color: black;
	}

	&:before{
		top: 10px;
		left: 10px;
	}
	&:after{
		bottom: 10px;
		right: 10px;
	}
}

.suit_hearts,
.suit_diamonds{
	&:after,
	&:before{
		background-color: red;
	}

	&:before{
		top: 10px;
		left: 10px;
	}
	&:after{
		bottom: 10px;
		right: 10px;
	}
}

// $card_values : ('ace', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'jack', 'queen', 'king');
$card_values : ('0','1','2','3','4','5','6','7','8','9','10','11','12','13');

@each $value in $card_values{
    .value_#{$value}{
        &:before,
        &:after{
        	content: '#{$value}';
        }
    }
}













