// Ratios
$ratio: 1.618033;
$ratio-inv: 0.618033;

// Sizes
$sidebar-width: 200px; // Consider changing this to ems

// Main Breakpoints
$l: 72em;
$m: 38em;
$s: 375px; // Consider changing this to ems